/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*END CSS CLEAR*/

body{
	background-color: #f2f2f2;
}

h1{
	font-family:'Fjalla One', sans-serif;
	font-size: 125px;
}
h2{
	font-family: 'Slabo 27px', serif;
	font-size: 30px;
}
h4{
	font-size: 22px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
p{
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 1.2;
}
i{
	font-weight: 400;
	font-style: italic;
}
li{
	margin-right: 25px;
}
a{
	color: black;
}
a:hover{
	color: black;
	text-decoration: none;
}

#splash{
	display: none;
}
#splash img{
	height: auto;
	width: 930px;
	border: 4px solid #0d0d0d;
	margin-top: 20px;
}
#title{
	left:-4px;
	cursor: default;
}
.top-buffer{
	margin-top: 65px;
}
.menu-buffer{
	margin-top: 10px;
}
.content-buffer{
	margin-top: 25px;
}
.describe-buffer{
	margin-top: 5px;
	text-align: justify;
}

#menu li{
	cursor: pointer;
}

#about, #projects, #contact{
	animation-duration: 500;
}

#about{
	left: 0px;
	display: none;
	text-align: justify;
	margin-bottom: 40px;
}

#projects{
	display:none;
}
#projects img{
	margin-top: 5px;
	height: auto;
	width: 100%;
	border: 2px solid black;
	left: 10px;
}
.carousel-control.left, .carousel-control.right {
	top: 110px;
    background-image: none;
    color: black;
    margin-left: -30px;
    margin-right: 90px;
    font-size: 40px;
}

#contact{
	display: none;
}
#contact p{
	font-size: 20px;
	line-height: 1.4;
	margin: 2px;
}
#contact .glyphicon, #contact .fa{
	margin-right: 12px;
}
.contact-list{
	margin-top: 10px;
}
