/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*END CSS CLEAR*/

body{
	background-color: #f2f2f2;
}

h1{
	font-family:'Fjalla One', sans-serif;
	font-size: 125px;
}
h2{
	font-family: 'Slabo 27px', serif;
	font-size: 30px;
}
h4{
	font-size: 22px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
p{
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 1.2;
}
i{
	font-weight: 400;
	font-style: italic;
}
li{
	margin-right: 25px;
}
a{
	color: black;
}
a:hover{
	color: black;
	text-decoration: none;
}

#splash{
	display: none;
}
#splash img{
	height: auto;
	width: 100%;
	border: 0px solid #0d0d0d;
	margin-top: 15px;
}
#title{
	left:-4px;
}
#title a{
	cursor: default;
}
.top-buffer{
	margin-top: 55px;
}
.menu-buffer{
	margin-top: 10px;
}
.content-buffer{
	margin-top: 25px;
}
.describe-buffer{
	margin-top: 5px;
	text-align: left;
}

#menu li{
	cursor: pointer;
}

#about, #projects, #contact{
	animation-duration: 500;
}

#about{
	left: 0px;
	display: none;
	text-align: left;
	margin-bottom: 40px;
}

#projects{
	display:none;
}
#projects img{
	margin-top: 5px;
	height: auto;
	width: 100%;
	border: 2px solid black;
	left: 10px;
}
#projects .item{
	min-height: 240px;
}
.carousel-control.left, .carousel-control.right {
	top: 50px;
    background-image: none;
    color: black;
    margin-left: -30px;
    font-size: 40px;
}

.project-list{
	position: relative;
	margin-top: 10px;
	text-align: center;
}
.project-list li{
	border: 1px solid black;
	border-radius: 2px;
	width: 20%;
	display: inline-block;
	padding: 4px 0 4px 0;
}
.project-list li.selected{
	background-color: lightblue;
}

#contact{
	display: none;
}
#contact p{
	font-size: 20px;
	line-height: 1.4;
	margin: 2px;
}
#contact .glyphicon, #contact .fa{
	margin-right: 12px;
}
.contact-list{
	margin-top: 10px;
}
/* Medium devices (tablets, less than 62em)*/
@media (max-width: 768px) {
	#projects .item{
		padding: 10px;
		margin-bottom: 30px;
	}
	#projects .item img{
		width: 400px;
		/*display: block;
		position: relative;
		margin: 0 auto;*/
    }
    #projects .item.active:nth-of-type(1){
    	border-top: 0;
    }

    .carousel-control.left, .carousel-control.right{
    	display:none;
    }
}
/*Extra small devices (portrait phones, less than 34em)*/
@media (max-width: 480px) {
    h1, #subtitle{
    	text-align: center;
    }
    #title h1.notHome{
    	position: absolute;
    	top: -45px;
    	text-align: left;
    	font-size: 50px;
    }

    #splash img{
    	display: none;
    }

    #menu li{
    	display: block;
    	margin: 20px;
    	text-align: center;
    }
    #menu li.notHome{
    	margin: 0px;
    	text-align: left;
    	display: inline-block;
    }
    #menu li.notHome h4{
    	font-size: 18px;
    }

    #projects .item img{
		width: 100%;
    }
    #projects .item.active{
    	margin: 0;
    	padding-top: 20px;
    	padding-bottom: 30px;
    	border-bottom: 1px solid black;
    	border-top: 1px solid black;
    }
    #projects .item.active:nth-of-type(1){
    	border-top: 0;
    	margin-top: -20px;
    }
}
