$default-bg-color: #ffffff;
$text-color: #1c1c1c;
$secondary-color: #1938a9;
$border-width: 10px;
$photo-color: #a91919;
$code-color: #1938a9;
$blog-color: #19a987;
$color-white: #ffffff;
$main-font-family: "Microsoft Yi Baiti", serif;
$sans-serif: 'Montserrat', sans-serif;

.expanded-constraint {
  max-width: 70vw !important;
  @media only screen and (max-width: 1024px) {
    max-width: 95vw !important;
  }
}

.extra-padding {
  padding: initial;
}

body {
  background-color: $default-bg-color;
  transition: all 1s ease-out;
}

h1 {
  color: $text-color;
  font-family: $main-font-family;
  font-style: normal;
  font-size: 62px;
  font-weight: 300;
  text-transform: uppercase;
}

a {
  transition: all 1s ease;
  display: block;
  &:hover {
    color: $text-color;
  }
}

ul {
  list-style-type: none;
}

img {
  opacity: 0;
  transition: all .5s;
  &.show {
    opacity: 1;
  }
}

.lightswitch {
  cursor: pointer;
  float: right;
  font-family: $main-font-family;
  position: absolute;
  right: 15vh;
  bottom: 10vh;
}
body.lightbox {
  background-color: $text-color;
  .lightswitch {
    color: white;
  }
}

.placeholder {
  display: none;
  &.loading {
    display: block;
  }
}

.row.full-height {
  height: 100vh;
}

.social-media {
  position: absolute;
  right: 200px;
  top: 40px;
  color: white;
  z-index: 9;
  &__list {
    margin: 20px 5px 0 0;
  }
  &__list-item {
    display: inline-block;
    margin: 0 0 0 30px;
    a {
      color: white;
    }
  }
}


.navbar {
  background-color: $text-color;
  margin: 0 0 25px 0;
  .top-nav {
    margin: 30px 0;
    font-family: $main-font-family;
    width: 75vw;
    position: relative;
    margin: 10px auto;
    &--name {
      display: inline-block;
      font-size: 32px;
      margin: 0 20px 0 0;
      text-transform: uppercase;
      letter-spacing: 3px;
      a{
        color: white;
      }
    }
    ul.top-nav-list {
      display: inline-block;
      color: white;
      margin: 0 0 0 10px;
      li {
        display: inline-block;
        margin: 0 30px 0 0;
        font-size: 24px;
        a {
          color: white;
        }
      }
    }
  }
}

.home-hero {
  height: 100vh;
}

.main-title {
  height: 50vh;
  text-align: left;
  letter-spacing: 20px;
  width: 100%;
  position: relative;
  background-color: $text-color;
  h1 {
    position: relative;
    top: 25vh;
    width: calc(70vw - 2 * .9375rem);
    margin: 0 auto;
  }
  a {
    color: white;
  }
  @media only screen and (max-width: 768px) {
    height: 100vh;
  }
}

.sub-title {
  text-align: left;
  color: white;
  display: block;
  font-size: 20px;
  text-transform: none;
  letter-spacing: 0;
  bottom: 120px;
  left: 200px;
}

.home-nav-link {
  font-family: $main-font-family;
  font-size: 24px;
  color: $text-color;
  text-align: left;
  text-transform: uppercase;
  i {
    position: relative;
    top: 8px;
    float: right;
  }
  &.code-link {
    border-bottom: 1px solid $code-color;
    color: $code-color;
    i {
      color: $code-color;
    }
  }
  &.photo-link {
    border-bottom: 1px solid $photo-color;
    color: $photo-color;
    i {
      color: $photo-color;
    }
  }
  &.writing-link {
    border-bottom: 1px solid $blog-color;
    color: $blog-color;
    i {
      color: $blog-color;
    }
  }
}
.home-develop-box {
  background: #111111;
  border: 1px solid black;
  height: 370px;
  width: 100%;
}
.home-content {
  .photo-container {
    margin: 20px 0 0 0;
  }
  &__sections {
    height: 100vh;
    padding: 50px 0 0 0;
  }
}

.image-container {
  margin: 0 0 50px 0;
  position: relative;
  text-align: center;
  a {
    cursor: crosshair;
  }
  &:hover {
    .album-title-overlay {
      opacity: 1;
    }
  }
}

.album-title-overlay {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  top: calc(50% - 30px);
  font-family: $main-font-family;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 100;
  color: white;
  cursor: crosshair;
  transition: opacity .25s;
}

.photo-container {
  margin: 80px 0 0;
  opacity: 1;
  transition: opacity 1s;
  &.loading {
    opacity: 0;
  }
  &.album-list {
    margin: 100px 0;
    .album-list__container {
      .image-container {
        transition: opacity .3s;
      }
      &:hover {
        .image-container:not(:hover) {
          -webkit-filter: grayscale(1);
                  filter: grayscale(1);
                opacity: .65;
        }
      }
    }
  }
  &.album-individual {
    img {
      max-height: 70vh;
    }
    .photo-hide {
      display: none;
    }
  }
}

.image-container.loading {
  display: none;
}

.blog {
  &__container {
    margin: 20px 0 0 0;
    font-family: $main-font-family;
    text-align: left;
  }
  &__date {
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    float: right;
  }
  &__title {
    font-weight: bold;
    font-size: 20px;
  }
  ul {
    margin: 10px 0 10px 20px;
    list-style: disc;
  }
}

.code {
  margin: 25px 0;
  display: inline-block;
  width: 100%;
  &__title, &__date {
    color: $text-color;
  }
  &__date {
    text-transform: uppercase;
    font-family: $main-font-family;
  }
}



.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.album-list, .album-individual {
  .spinner {
    margin: 340px auto;
  }
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
