$bg-color: #efefef;
$text-color: #1c1c1c;
$border-width: 5px;
$photo-color: #b2cefe;
$film-color: #f8b88b;
$code-color: #fea3aa;
$main-font-family: 'Quicksand', sans-serif;

body{
  background-color: $bg-color;
}

h1{
  color: $text-color;
  font-family: $main-font-family;
  font-size: 80px;
}

.home-hero{
  align-items: center;
  display: flex;
  height: 100vh;
  border: $border-width solid $text-color;
}

.main-title{
  font-size: 120px;
  line-height: 100px;
  margin: 0 0 30px 0;
  text-align: center;
}
.sub-title{
  color: $text-color;
  font-family: $main-font-family;
  font-size: 30px;
  text-align: center;
  .code-link{
    color: $code-color;
  }
  .photo-link{
    color: $photo-color;
  }
  .film-link{
    color: $film-color;
  }
}

.photo-title{
  text-align: center;
}
