$bg-color: #fefefe;
$text-color: #1c1c1c;
$border-width: 10px;
$photo-color: #b2cefe;
$film-color: #8dbc6d;
$code-color: #fea3aa;
$color-white: #ffffff;
$main-font-family: 'Suranna', serif;

body {
  background-color: $bg-color;
}

h1 {
  color: $text-color;
  font-family: $main-font-family;
  font-style: normal;
  font-size: 100px;
  font-weight: 300;
}

a {
  transition: all .25s ease;
}

.main-title {
  margin: 40px 0 20px 0;
  text-align: center;
  a {
    color: $text-color;
  }
}

.about {
  margin: 0 0 25px 0;
  a {
    color: #f9c66d;
  }
  .about-paragraph {
    margin: 15px 0;
  }
}

.home-nav-link {
  margin: 10px auto;
  text-align: center;
  width: 40%;
}
.home-develop-box {
  background: #111111;
  border: 1px solid black;
  height: 370px;
  width: 100%;
}

@define-mixin cat-links, $color {
  color: $color;
	display: block;
	position: relative;
	padding-bottom: 2px;
  &:hover, &:active, &:focus {
    color: $color;
  }
  &:after {
    content: '';
  	display: block;
  	margin: auto;
  	height: 2px;
  	width: 0px;
  	background: transparent;
  	transition: width .5s ease, background-color .5s ease;
  }
  &:hover:after, &.extra:after {
  	width: 100%;
  	background: $color;
  }
}

.navbar{
  margin: 0 0 25px 0;
}
.code-link {
  @mixin cat-links, $code-color;
}
.photo-link {
  @mixin cat-links, $photo-color;
}
.film-link {
  @mixin cat-links, $film-color;
}

.static-sidebar {
  height: 100vh;
  width: 100%;
  .sidebar-title {
    font-size: 60px;
    &.fix-it{
      position: fixed;
      top: 0px;
    }
  }
  ul {
    margin: 0;
    li {
      list-style: none;
    }
  }
}


.image-container {
  margin: 0 0 50px 0;
}
